.mainpage-container {
    min-height: calc(100vh - 6.4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .books-container {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        row-gap: 5rem;       
        .book {
            justify-self: center;
            cursor: pointer;
            img {
                width: 20rem;
                height: 30rem;
                transition: transform 1s;
                &:hover {
                    transform: scale(1.2);
                }
            }

            h4,
            h5 {
                text-align: center;
                margin-top: .5rem;
            }

            .price-before {
                text-decoration: line-through;
                color: #ccc;
            }

        }
    }
    
}

.pagination {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

    button {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;

        &.selected {
            background-color: lightgreen;
        }
    }
}