.header-container {
    height: 4rem;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    direction: rtl;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-bottom: 2px solid green;
    h1 {
        margin: 0;
    } 
}