.book-container {
  height: calc(100vh - 6.4rem);
  margin-top: 6.4rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  img {
    width: 40rem;
    height: 70rem;
  }

  .details-and-purchase {
    width: 100%;
    p {
      margin-top: 14rem;
      direction: rtl;
    }

    .purchase-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10rem;
      .purchase-money {
        display: flex;
        align-items: center;
        gap: 2rem;
        
        button {
          width: 20rem;
          height: 5rem;
          border: 2px solid green;
          border-radius: 10px;
          background-color: lightgreen;
          text-align: center;
          font-weight: bold;
          font-size: 1.8rem;
          cursor: pointer;
          &:hover {
            background-color: green;
          }
        }

        .purchase-button:disabled {
          opacity: .5;
          cursor: not-allowed;
        }
        .price-before {
          text-decoration: line-through;
          color: #ccc;
        }
      }

      .amount-controller {
        display: flex;
        gap: 0.5rem;
        button {
          width: 3rem;
          height: 3rem;
          border: 1px solid black;
          border-radius: 50%;
          background: none;
          cursor: pointer;
          &:active {
            background-color: lightgreen;
          }
        }
        input {
          width: 4rem;
          text-align: center;
        }
      }
    }

    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
      gap: 10rem;
        .purchase-section {
          display: flex;
          flex-direction: column-reverse;
          margin: 0;
          gap: 2rem;
        }
      
    }
  }

  @media (max-width: 850px) {
    flex-direction: column-reverse;
    height: 100%;
  }

  @media (max-width: 450px) {
    img {
      width: 100%;
    }
  }
}
